<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    
    <title>Home - Meu Blog</title>
</head>
<body>
    <img src="logo.png" alt="Logo da Minha Página">
    

    <header>
        <h1>MENES E DISCORDIA</h1>
        <nav>
            <ul>
             
            </ul>
        </nav>
    </header>
    <style>
        
        body {
            background-image: url(background.jpg);
        }
        img {
          width: 200x; /* Define a largura da imagem */
          height: 200px; /* Mantém a proporção da imagem ao ajustar a largura */
        }
          
      </style>
<head>
</head>
<body>
    <div class="container">
        <div id="login-form">
            <h2>Login</h2>
            <form id="login" action="home.ejs" method="post">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Login</button>
            </form>
        </div>

        <div id="register-form">
            <h2>Registro</h2>
            <form id="register" action="register.php" method="post">
                <label for="new_username">Novo Usuário:</label>
                <input type="text" id="new_username" name="new_username" required>
                <label for="new_password">Nova Senha:</label>
                <input type="password" id="new_password" name="new_password" required>
                <button type="submit">Registrar</button>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
    <link rel="stylesheet" href="login.css">
    
</body>
</html>