<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Home - Meu Blog</title>
</head>
<body>
    <img src="logo.png" alt="Logo da Minha Página">

    <header>
        <h1>MENES E DISCORDIA</h1>
        <nav>
            <ul>
                <li><a href="index.ejs">Home</a></li> 
                <li><a href="about.ejs">Sobre</a></li>
                <li><a href="contact.ejs">Contato</a></li>
                <li><a href="posts.ejs">Postagens</a></li>
            </ul>
        </nav>
    </header>
    <style>
        
        body {
            background-image: url(background.jpg);
        }
        img {
          width: 200x; /* Define a largura da imagem */
          height: 200px; /* Mantém a proporção da imagem ao ajustar a largura */
        }
          
      </style>
            
                <style>        /* Estilizando links não visitados */
                    a {
                        color: blue; /* Cor padrão para links não visitados */
                        text-decoration: none; /* Remova sublinhado padrão */
                    }
            
                    /* Estilizando links quando o mouse está sobre eles */
                    a:hover {
                        color: rgb(251, 255, 0); /* Cor quando o mouse está sobre o link */
                    }
            
                    /* Estilizando links visitados */
                    a:visited {
                        color: purple; }
                        </style>
        <h1>
       
        <img src="WII MEME.jpg" alt="">
    
    
    <h2>
  
    <img src="my-image.png" alt="">
    
    
        <h3>
    
    
    <img src="Simpsons.jpg" alt="">
    
        </h3>
    
        <h4>
    
    <img src="sanders.jpg" alt="">
        </h4>
    
        <h5>
            <img src="barçaum.jpg" alt="SAUDADES">
        
        </h5>

        <h6>
            <img src="pura vdd.jpeg" alt="">
        </h6>
        <link rel="stylesheet" href="posts.css">
    </body>
  </html>