<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="../public/static/styles.css">


    
    <title>Home - Meu Blog</title>
</head>
<body>
    <img src="static/logo.png" alt="Logo da Minha Página">

    <header>
        
        <h1>MENES E DISCORDIA</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li> 
                <li><a href="about">Sobre</a></li>
                <li><a href="contact">Contato</a></li>
                <li><a href="posts">Postagens</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>Bem-vindo ao blog</h2>
        <p>CLIQUE NA ABA POSTAGENS PARA NAVEGAR (OBS: OS MEMES REPRESENTAM OPINIOES E EXPERIENCIAS REAIS)</p>
    </section>

    <footer>
        <p>&copy; 2024. Thiago Lima Silva Todos os direitos reservados</p>
    </footer>
    <style>

body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
    color: rgb(255, 238, 2);
    text-align: center;
    align-items: center;
    padding: 1em;
}

header {

    color: rgb(255, 238, 2);
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: rgb(255, 238, 2) ;
    
}

footer {
    background-color: #333;
    color: rgb(255, 238, 2);
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
   /* Estilizando links não visitados */
                    a {
                        color: blue; /* Cor padrão para links não visitados */
                        text-decoration: none; /* Remova sublinhado padrão */
                    }
            
                    /* Estilizando links quando o mouse está sobre eles */
                    a:hover {
                        color: rgb(251, 255, 0); /* Cor quando o mouse está sobre o link */
                    }
            
                    /* Estilizando links visitados */
                    a:visited {
                        color: purple; }
    </style>
</body>

</html>

