<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/about.css">
    <title>Home - Meu Blog</title>
</head>
<body>
    <img src="static/logo.png" alt="Logo da Minha Página">

    <header>
        <h1>MENES E DISCORDIA</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li> 
                <li><a href="about">Sobre</a></li>
                <li><a href="contact">Contato</a></li>
                <li><a href="posts">Postagens</a></li>
            </ul>
        </nav>
    </header>
        <h1>
       
