<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/posts.css">
    <title>Home - Meu Blog</title>
</head>
<body>
    <img src="logo.png" alt="Logo da Minha Página">

    <header>
        <h1>MENES E DISCORDIA</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li> 
                <li><a href="about">Sobre</a></li>
                <li><a href="contact">Contato</a></li>
                <li><a href="posts">Postagens</a></li>
            </ul>
        </nav>
    </header>
        <h1>
       
        <img src="static/WII MEME.jpg" alt="">
    
    
    <h2>
  
    <img src="static/my-image.png" alt="">
    
    
        <h3>
    
    
    <img src="static/Simpsons.jpg" alt="">
    
        </h3>
    
        <h4>
    
    <img src="static/sanders.jpg" alt="">
        </h4>
    
        <h5>
            <img src="static/barçaum.jpg" alt="SAUDADES">
        
        </h5>

        <h6>
            <img src="static/pura vdd.jpeg" alt="">
        </h6>
    </body>
  </html>