/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 238, 2);
    text-align: center;
    align-items: center;
    padding: 1em;
}

header {

    color: rgb(255, 238, 2);
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: rgb(255, 238, 2) ;
    
}

footer {
    background-color: #333;
    color: rgb(255, 238, 2);
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
